{% extends 'base.html' %}

{% block title %}
        Editar empleado.
{% endblock title %}
        
{% block content %}
        {% include 'includes/header.html' %}
        <div class = "grid-container">
                <div class = "grid-x">
                        <h1 class = "cell">
                                Modificar empleado.
                        </h1>
                        <div class = "cell">
                                <form class = "grid-x grid-margin-x" method="post">{% csrf_token %}
                                        <div class = "cell large-6">
                                                <label>
                                                        Nombres:
                                                        {{ form.first_name }}
                                                </label>
                                        </div>
                                        <div class = "cell large-6">
                                                <label>
                                                        Apellidos:
                                                        {{ form.last_name }}
                                                </label>
                                        </div>    
                                        <div class = "cell large-6">
                                                <label>
                                                        Trabajo:
                                                        {{ form.job }}
                                                </label>
                                        </div>    
                                        <div class = "cell large-6">
                                                <label>
                                                        Area:
                                                        {{ form.departamento }}
                                                </label>
                                        </div>    
                                        <div class = "cell large-6">
                                                <label>
                                                        Habilidades:
                                                        {{ form.habilidades }}
                                                </label>
                                        </div>
                                        <div class = "cell large-6">
                                                <button type = "submit" class = "success button"> Actualizar </button>
                                        </div>                                  
                                        
                                </form>
                        </div>
                </div>
        </div>
{% endblock content %}
        




