<div class="top-bar">
   <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
         <li class="menu-text">Empleados</li>
         <li>
            <a href="{% url 'empleado_app:listartodoslosempleados' %}">
               Listar
            </a>
         </li>
         <li>
            <a href="{% url 'departamento_app:listardepartamentos' %}">
               Departamentos
            </a>
         </li>
         <li>
            <a href="{% url 'empleado_app:adminempleados' %}">
               Administrar
            </a>
         </li>
         <li>
            <a href="{% url 'departamento_app:nuevoempleadoydepartamento' %}">
               Ingresar empleado y departamento
            </a>
         </li>
      </ul>
   </div>
   <div class="top-bar-right">
      <ul class="menu">
         <li><input type="search" placeholder="Buscar empleado"></li>
         <a href="{% url 'empleado_app:crearempleado' %}" class="button" class="button">Registrar nuevo</a>
      </ul>
   </div>
 </div>